XilinxUnisimLibrary/
**/XilinxUnisimLibrary/
**/sim.vcd
# **/sim.log
**/*-sim
**/gatesim.vcd
**/gatesim.log
**/*-gatesim
**/synth.log
**/sanity.hex
# **/synth.log
**/**/**/*-sim
**/**/**/gatesim.vcd
**/**/**/gatesim.log
**/**/**/*-gatesim
**/**/**/synth.log
**/**/**/sanity.hex
**/test_cases_original
riscof/test/riscv-arch-test/*
riscv32i_module/test_cases/*/outputs
riscv32i_module/obj_dir/*